[submodule "portfolio"]
	path = portfolio
	url = https://github.com/d-a-s-h-o/d-a-s-h-o.git
[submodule "droplets"]
	path = droplets
	url = https://github.com/d-a-s-h-o/droplets
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/d-a-s-h-o/dotfiles
