.jsWarning > input[value="open"]:not(:checked) {
  display: none;
}

.jsWarning {
  display: block;
  visibility: hidden;
  opacity: 0;
  animation-name: jswarn;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  position: relative;
  z-index: 999996;
}
