.post_queue {
  display: block;
  width: 100%;
}

.post_queue > .item {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 0;
}

.post_queue > .item:nth-child(odd) {
  background: #efefed;
}

.post_queue > .item > .report_footer {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  font-size: 12px;
  padding-left: 20px;
  line-height: 18px;
}

.post_queue > .item > .report_footer span {
  font-weight: bold;
  color: #9b59b6;
}

.post_queue > .item > .report_footer button.standardBtn {
  height: 30px;
  line-height: 30px;
  margin: 5px 0 0;
  width: 100%;
  text-align: center;
  padding: 0;
}

.post_queue > .item > .text {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 55px);
  font-size: 14px;
}

.post_queue > .item > .text a {
  text-decoration: none;
}

.post_queue > .item > .text > .title {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 20px;
}

.post_queue > .item > .text > .author {
  font-size: 14px;
  margin-bottom: 5px;
}

.post_queue > .item > .text > .timestamp {
  font-size: 12px;
  color: #999;
}

.post_queue > .item.report > .text {
  width: calc(100% - 205px);
}
