.splash {
    padding-top:32px!important;
    padding-bottom:80px!important;
    text-align:center!important;
    margin: auto;
    width: 100%;
    position:fixed;
    overflow:auto;
    overflow-y: hidden;
    max-height:100%;
    z-index:-887;
    position:fixed;
    color: var(--lg-hr) !important;
    }
    
    .splashcard{
    display: inline-block;
    text-align:left;
    box-shadow:0px 0px 8px 0px rgba(0,0,0,0.2),0px 0px 8px -1px rgba(0,0,0,0.19);
    background-color: var(--lg-tx)!important;
    border-radius: 8px;
    padding:0.01em 16px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 66.6666%;
    color: var(--accent) !important;
    }